@media (max-width: 767.98px) {
  .modal-body .col-md-6 img {
    height: 200px; /* تعيين ارتفاع معين للصورة في الشاشات الصغيرة */
    object-fit: cover;

   
  }
}

* {
  margin: 0;
  padding: 0;
}
.btnHome:hover {
  color: aqua;
 
 
}

/* hada dyal card cars  */

.custom-card:hover {
  
  transform: translateY(-5px);
  box-shadow: 0 6px 24px rgba(251, 138, 1, 0.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}