@media (max-width: 767.98px) {
  .modal-body .col-md-6 img {
    height: 200px; /* تعيين ارتفاع معين للصورة في الشاشات الصغيرة */
    object-fit: cover;
   
   
  }
}

* {
  margin: 0;
  padding: 0;
}
.btnHome:hover {
  color: aqua;
}
